# Maven
target/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*.log

# VIM
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath

# Linux
.*
!.gitignore
*~

# JADEX
*.settings.xml

keystore
